*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: 'Montserrat';}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


.body {
	background: linear-gradient(339deg, rgba(87,18,127,1) 35%, rgba(230,6,240,1) 100%) fixed;
	background-repeat:  no-repeat ;

}
.main{
	width: 1440px;	
}
.wrraper{
	margin: 0 auto;	
	width: 1275px;	

}
.header {
	height: 110px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__container_logo {
}
.header__logo {
	width: 98px;

}
.header__nav {
	margin-right: 40px;
	/* width: 45%;	*/
	width:565px;
	font-size: 21.9px;
	font-weight: 500;
	color: #ffffff;
}
.header__nav ul{	

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header__form {
	margin: 0 0 0 0;
	height: 35px;
	width:260px;		
}
.header__input {
	height: 100%;
	width: 100%;
	border: 1px solid #fff;
	border-radius: 20px;
	color: #fff;
	text-align: right;
	padding: 0 20px 0 20px;
	font-size: 20px;
	background-color: transparent;
}
.header__media{
	width: 145px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}
.header__media img{
	width: 28px;
}
.header__nav-mobile{
	display: none;	
}
.main {

}


.row {
	display: flex;	
	flex-direction: row;

		
}
.text_container_text_and_img {
	padding: 20px 75px 0 40px;
	margin:40px 0 0 0;
	width: 585px;	
	flex-direction: column;
	justify-content: space-between	;	
	color: #fff;
}
.row_text_and_img{
	margin:110px 0 0 0;
}
.title_text_and_img {
	font-size: 103.8px;
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: 0.9;
	
}
.title_text_and_img span{

	font-size: 58.4px;
	font-weight: 500;

}
.subtitle_text_and_img {
	margin: 40px 0;
	font-size: 26.4px;
	font-weight: 500;
	line-height: 1.2;
}
.btn{
	text-align: center;	
}
.btn a{
	text-decoration: none;
	color: #fff;	
	text-align: center;		
	width: 275px;
	border: 1px solid #ffffff;
	border-radius: 27px;
	padding: 13px 50px;
	font-size: 27.6px;
	display: inline-block;	
	margin: 0 auto;	
}
.img_container_text_and_img{
		
}
.main__img_future_is_now{
		
}
.reverse_flex{
	flex-direction: row-reverse;
	justify-content: start;
}
.main__title_smart_home{
	font-size: 54.1px;
	line-height: 61px;
	font-weight: 400;

}
.main__title_smart_home span{
	font-size: 36.7px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffffff;
}
.main__text_container_smart_home{
	justify-content: center;
	
}
.decides {
	margin: 0 45px;
	width: 1350px;
	min-height: 550px;
	align-items: center;
	justify-content: center;
	color: #fff;

}
.decides__row {
	align-items: center;
	min-height: 550px;
	background-color: rgba(172,13,130,0.08);
	box-shadow: 0px 15px 50px -3px rgba(0,0,0,0.2);
	border: 3px solid rgba(129,14,129,0.63) ;
	border-radius: 36px;
	border-image-slice: 1;
	background-origin: border-box;
	background-clip: content-box, border-box;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.decides__dicede {
	min-height: 340px;
	text-align: center;
	width: 33%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 150px;	
	padding: 0 20px 0 20px;
}
.decides__decide_img {
	margin: 0 auto;	
	width: 158px;
}
.decides__decide_title {
	margin: 25px 0 20px 0;
	font-size: 33.4px;
	line-height: 56px;
	font-weight: 700;
	letter-spacing: 0.1em;

}
.decides__decide_subtitle {
	margin: 0 auto;
	font-size: 20.9px;
	line-height: 25px;
	font-weight: 400;
	margin-bottom: 25px;
}
.decides_mode {
	margin-top: 80px;	
	min-height: 605px;
	width: 100%;
}
.decides_mode__h3{
	text-align: center;	
	font-size: 58.4px;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #ffffff;
	margin: 35px 0 50px 0;
}
.decides_mode__row {
	min-height: 605px;
	justify-content: space-between;
}
.decides_mode__dicede {
	text-align: center;	
	width: 348px;
	height: 604px;
	box-shadow: 0px 15px 50px -3px rgba(0,0,0,0.2);
	border-radius: 15px;
	border: 3px solid #812f9e;
	background: linear-gradient(180.0deg, rgba(14,66,134,0.63) 7%, #8b5bac 92%  );
	
}

.decides_mode__decide_img {
	height: 233px;
	margin-top: 60px;
}
.decides_mode__decide_title {
	margin: 25px 30px 15px 30px;
	font-size: 34.7px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #ffffff;

}
.decides_mode__decide_subtitle {
	text-align: left;
	width: 290px;	
	margin: 20px 30px 0px 30px;
	font-size: 16.5px;	
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;
}
.decides_mode__btn a{
	font-size: 16px;
	width: 147px;
	height: 38px;
	margin-top: 50px;	
	padding: 11px 30px;
	margin: 0 auto;	
	margin-top: 60px;	
}
.decides_mode__text {
	margin-top: 120px;	
}
.decides_mode__text p{
	margin: 80px;	
	padding: 15px 0;
	width: 1170px;	
	margin: 0 auto;	
	font-size: 25px;
	line-height: 33px;
	color: #ffffff;
}

.footer {
}

@media (max-width: 767.8px){
.header__nav{
	display: none;	
}
.header__nav-mobile {
	display: block;	
	position: relative;	
	height: 36px;	
	width: 40px;	
	margin-right: 30px;		
}
.header__nav-mobile span{
	position: absolute;	
	left: 0;
	top: 14px;		
	height: 8px;	
	width: 100%;	
	background: #fff;	
}
.header__nav-mobile:before, .header__nav-mobile:after{
	content: '';
	position: absolute;	
	height: 8px;	
	width: 40px;	
	background: #fff;
}
.header__nav-mobile:before{
	top: 0;	
	border-radius: 5px 5px 0 0;
}
.header__nav-mobile:after{
	bottom: 0;
	border-radius: 0 0 5px 5px;
}
.header__form {
		margin-right: 270px;			
}

.main__future_is_now {
	height: 900px;
	color: #fff;
	display: block;
	text-align: center;	
	position: relative;
}
.main__text_container_future_is_now {
	padding:  0 0 0 0;
	margin-top: 90px;
	width: 885px;	
	min-height: 550px;
	margin: 0 auto;
}
.main__title_future_is_now {
	font-size: 113.8px;
	margin-top: 50px;

}
.main__title_future_is_now span{
	font-size: 65.4px;
	z-index: 1;

}
.main__subtitle_future_is_now {
	margin: 0 auto;	
	width: 450px;	
	font-size: 28.4px;
	z-index: 1;
}
.main__see_more {
	margin: 0 auto;
	z-index: 1;
}
.main__img_container_future_is_now{
	position: absolute;
	right: -60px;
	bottom: 0px;
}

}

@media (max-width: 1330px) {
.header{
	width: 100%;	
}
.wrraper{
	padding: 0 40px;	
}

}

